<footer class="footer">
      <div class="container">

        <div class="col-sm-3">
          <br>
          <p> This app was designed by Steven Frazier-Roberts, David Rufus,
          and Nicky Main-Reade using the open data from the Natural History Museum, London.
          </p>
        </div>

        <div class="col-sm-3">
          <br>
          <p> Visit <a> http://data.nhm.ac.uk/ </a> to view more data sets!</p>
        </div>

        <div class="col-sm-3">
          <br>
          <p class="text-right"> Like this? Tweet the Natural History Museum. </p>
          <p class="text-right"> <a href="https://twitter.com/intent/tweet?screen_name=NHM_London" class="twitter-mention-button" data-show-count="false">Tweet to @NHM_London</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
</footer>
