<footer class="footer">
      <div class="container">
        <p> This app was designed by Steven Frazier-Roberts, David Rufus,
          and Nicky Main-Reade using the open data from the Natural History Museum, London.
        </p>
        <p> Visit <a> http://data.nhm.ac.uk/ </a> to view more data sets!</p>
      </div>
</footer>
