<!-- rewrite this class to have my own navbar in it !!!!-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a class="navbar-brand" href="/">
        <img alt="NaturalHistoryMuseum" src="NHMlogo.png" class="img-responsive-header" >
        </a>
      </li>
      <li>
        <a href="/nicky"><span class="glyphicon glyphicon-user"></span> Quest </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
      </li>
    </ul>
  </div>
</nav>
