<!-- rewrite this class to have my own navbar in it !!!!-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active"><a class="navbar-brand" href="/"><img alt="NaturalHistoryMuseum" src="NHMlogo.png" class="img-responsive-header" ></a></li>
      <li><a href="/about">About Quest</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="http://overtheair.org/" target="blank">Made at Over The Air</a></li>
    </ul>
  </div>
</nav>
