<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2 well">
        <p>This app was written to help the Natural History Museum share their open data <a href="http://data.nhm.ac.uk/" target=blank>api</a> with the masses. They're sponsoring a challenge at Over The Air in London and I'm writing this at 2 AM.</p>
        <p>Our code is hosted on <a href="https://github.com/Verocoder/quest" target=blank>github</a> and is open to contributions.</p>
        <p>We're using leafletjs for the mapping and it's awesome.</p>
      </div>
    </div>

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>

  </body>
</html>
