<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
  <% include ../partials/nav.ejs %>

    <div id="mapid">/div>
    <script>
      var map = new Mapping("mapid");

      function onMapMove(e) {
        map.requestDiscoveries(map.map.getCenter());
      };
      //listeners
      map.map.on('moveend', onMapMove);
    </script>

    <p>under the map</p>

  </body>
</html>
