<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
  <% include ../partials/nav.ejs %>

    <h1> david test page </h1>
    <div id="mapid"></div>
    <script>
      mapping.
    </script>

    <p>under the map</p>

  </body>
</html>
