<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

  </head>

  <body>
    <!-- Creates the bootstrap modal where the image will appear -->
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Image preview</h4>
        </div>
        <div class="modal-body">
          <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1 well map" id="indexMap"></div>
      <div class="col-md-3 col-md-offset-1 well" id="indexList">
        Discoveries
      </div>
    </div>

    <div class="row"> <br></div>

    <!-- <div id="indexList" class="col-md-10 col-md-offset-1 well">
      Discoveries
    </div> -->

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>
    <script>
      var indexMap = new Mapping("indexMap","indexList");
      indexMap.map.locate({setView: true, maxZoom: 15});
      function onMapMove(e) {
        indexMap.requestDiscoveries(indexMap.map.getBounds());
        //indexMap.map.getBounds()
        //getCenter
        // method to get the box for more useful API lookups
      };
      function onLocationFound(e) {
        var radius = e.accuracy / 2;
        var latlng = e.latlng;
        indexMap.foundGeo(latlng,radius);
      }

      //listeners
      indexMap.map.on('moveend', onMapMove);
      indexMap.map.on('locationfound', onLocationFound);
    </script>

  </body>

</html>
