<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>




    <div class="row">
      <div class="col-md-7 col-md-offset-1 well map" id="nickyMap"></div>
      <div class="col-md-3 col-md-offset-1 well" id="nickyList">
        Discoveries
      </div>
    </div>

    <div class="row"> <br></div>

    <!-- <div id="nickyList" class="col-md-10 col-md-offset-1 well">
      Discoveries
    </div> -->

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>
    <script>
      var nickyMap = new Mapping("nickyMap","nickyList");
      function onMapMove(e) {
        nickyMap.requestDiscoveries(nickyMap.map.getBounds());
        //nickyMap.map.getBounds()
        //getCenter
        // method to get the box for more useful API lookups
      };
      //listeners
      nickyMap.map.on('moveend', onMapMove);
    </script>

  </body>

</html>
