<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>

  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-1 well map" id="indexMap"></div>
      <div class="col-md-3 col-md-offset-1 well" id="indexList">
        Discoveries
      </div>
    </div>

    <div class="row"> <br></div>

    <!-- <div id="indexList" class="col-md-10 col-md-offset-1 well">
      Discoveries
    </div> -->

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>
    <script>
      var indexMap = new Mapping("indexMap","indexList");
      indexMap.map.locate({setView: true, maxZoom: 15});
      function onMapMove(e) {
        indexMap.requestDiscoveries(indexMap.map.getBounds());
        //indexMap.map.getBounds()
        //getCenter
        // method to get the box for more useful API lookups
      };
      function onLocationFound(e) {
        var radius = e.accuracy / 2;
        var latlng = e.latlng;
        indexMap.foundGeo(latlng,radius);
      }

      //listeners
      indexMap.map.on('moveend', onMapMove);
      indexMap.map.on('locationfound', onLocationFound);
    </script>

  </body>

</html>
