<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1> Quest with the Natural History Museum </h1> <img src="NHM logo.png">


  </body>
</html>
