<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1> Quest <small>with the Natural History Museum</small> </h1> 




    <div class="row">
      <div class="col-md-8 col-md-offset-1 well" id="nickyMap">map</div>
      <div class="col-md-1 col-md-offset-1 well">
        <b>Discoveries</b>
        <ul>
          <li>butteryfly1</li>
          <li>gravyfly</li>
        </ul>
      </div>
    </div>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 well">timeline</div>
    </div>

    <div class="row"> <br></div>

  </body>
</html>
