<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1> Quest with the Natural History Museum </h1> <img src="NHM logo.png">

    <div class="container-fluid">
  <div class="row-fluid">
    <div class="span9">
      <!--Sidebar content-->
    </div>
    <div class="span3">
      <!--Body content-->
    </div>
  </div>
</div>



  </body>
</html>
