<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>




    <div class="row">
      <div class="col-md-8 col-md-offset-1 well" id="nickyMap">map</div>
      <div class="col-md-2 col-md-offset-1 well">
        <p> Like this? Tweet the Natural History Museum. </p>
        <a href="https://twitter.com/intent/tweet?screen_name=NHM_London" class="twitter-mention-button" data-show-count="false">Tweet to @NHM_London</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 well">Discoveries
        <ul>
          <li> Butterfly </li>
          <li> Moth </li>
        </ul>
      </div>
    </div>

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>

  </body>
</html>
