<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <h1 class="text-center"> Quest <small>with the Natural History Museum</small> </h1>




    <div class="row">
      <div class="col-md-8 col-md-offset-1 well" id="nickyMap">map</div>
      <div class="col-md-1 col-md-offset-1 well">
      </div>
    </div>

    <div class="row"> <br></div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 well">Discoveries
        <ul>
          <li> Butterfly </li>
          <li> Moth </li>
        </ul>
      </div>
    </div>

    <div class="row"> <br></div>

    <% include ../partials/footer.ejs %>

  </body>
</html>
